<div>
    <div class="ui top attached tabular menu">
        {% for slug, tab in section.tabs %}
            <a class="{{ loop.first ? 'active' }} item" data-tab="{{ slug }}">{{ trans(tab.title) }}</a>
        {% endfor %}
    </div>
    {% for slug, tab in section.tabs %}
        <div class="ui bottom attached {{ loop.first ? 'active' }} tab segment" data-tab="{{ slug }}">
            {% for field in tab.fields %}
                {{ form.fields.get(field).render|raw }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
