<div class="{{ class }} {{ hidden ? 'hidden' }}" data-locale="{{ locale }}">

    <label class="control-label {{ required ? 'required' }}">
        {{ label }}
        {% if translatable %}
            <small class="text-muted"><i class="fa fa-language"></i> {{ trans('streams::language.' ~ locale) }}</small>
        {% endif %}
    </label>

    {% if instructions %}
        <p class="help-block">{{ instructions }}</p>
    {% endif %}

    {{ input|raw }}

</div>
