<div class="form-group {{ field_type.hidden ? 'hidden' }}" {{ field_type.translatable ? 'data-locale=' ~ field_type.locale }}>

    <label class="control-label {{ field_type.required ? 'required' }}">
        {{ trans(field_type.label)|raw }}
        {% if field_type.translatable %}
            <small class="text-muted">
                <i class="fa fa-language"></i> {{ config_get('streams.available_locales.' ~ field_type.locale) }}
            </small>
        {% endif %}
    </label>

    {% if field_type.instructions %}
        <p class="help-block">{{ trans(field_type.instructions)|raw }}</p>
    {% endif %}

    {{ field_type.renderInput()|raw }}

</div>
