<div class="field {{ field_type.required ? 'required' }} {{ field_type.hidden ? 'hidden' }}"
     data-locale="{{ field_type.locale }}">

    <label>
        {% if field_type.translatable %}
            <i class="icon translate"></i>
        {% endif %}

        {{ trans(field_type.label)|raw }}
    </label>

    {% if field_type.instructions %}
        <div class="instructions">{{ trans(field_type.instructions)|raw }}</div>
    {% endif %}

    {{ field_type.renderInput()|raw }}

</div>
