{{ asset_add("scripts.js", "streams::js/table/table.js") }}

{% if not actions.empty() %}
    {{ asset_add("scripts.js", "streams::js/table/actions.js") }}
{% endif %}

{% if table.options.sortable %}
    {{ asset_add("scripts.js", "streams::js/table/sortable.js") }}
{% endif %}

<section class="panel panel-default">

    {{ table_views(table)|raw }}

    <div class="panel-body" style="padding: 0;">

        {{ table_filters(table)|raw }}

        {% if not table.rows.empty() %}
            {{ form_open() }}
                <table class="{{ table.options.class ?: 'table table-hover' }} {{ table.options.sortable ? 'sortable' }}">

                    {{ table_header(table)|raw }}
                    {{ table_body(table)|raw }}
                    {{ table_footer(table)|raw }}

                </table>
            {{ form_close() }}
        {% else %}
            <div class="no-results">
                <h3>{{ trans(table.options.get('no_results_message', 'streams::error.no_results')) }}</h3>
            </div>
        {% endif %}

    </div>
</section>
