<tbody>
{% for row in table.rows %}
    <tr id="{{ loop.index }}">

        {% if table.options.sortable %}
            <td>
                <i class="icon move handle" style="cursor: move;"></i>
                <input type="hidden" name="{{ table.options.prefix }}order[]" value="{{ row.entry.id }}"/>
            </td>
        {% endif %}

        {% if not table.actions.empty() %}
            <td>
                <div class="ui checkbox">
                    <input type="checkbox" name="{{ options.prefix }}id[]" value="{{ row.entry.id }}"/>
                </div>
            </td>
        {% endif %}

        {% for column in row.columns %}
            <td class="{{ column.class }}" {{ column.attributes }}>
                {{ column.value|raw }}
            </td>
        {% endfor %}

        <td class="right aligned">
            {{ buttons(row.buttons)|raw }}
        </td>

    </tr>
{% endfor %}
</tbody>
