<tbody>
{% for row in table.rows %}
    <tr id="{{ loop.index }}">

        {% if table.options.sortable %}
            <td>
                {{ icon('fa fa-arrows') }}
                <input type="hidden" name="{{ table.options.prefix }}order[]" value="{{ row.entry.id }}"/>
            </td>
        {% endif %}

        {% if not table.actions.empty() %}
            <td>
                <input type="checkbox" data-toggle="checkbox" name="{{ options.prefix }}id[]" value="{{ row.entry.id }}"/>
            </td>
        {% endif %}

        {% for column in row.columns %}
            <td class="{{ column.class }}" {{ column.attributes }}>
                {{ column.value|raw }}
            </td>
        {% endfor %}

        <td class="text-right">
            {{ buttons(row.buttons)|raw }}
        </td>

    </tr>
{% endfor %}
</tbody>
