<tbody>
{% for row in table.rows %}
    {{ dump(table.options) }}
    <tr id="{{ loop.index }}" class="{{ table.options.row_class(row.entry) }}">

        {% if table.options.sortable %}
            <td>
                {{ icon('fa fa-arrows handle') }}
                <input type="hidden" name="{{ row.table.options.prefix }}order[]" value="{{ row.entry.id }}"/>
            </td>
        {% endif %}

        {% if not table.actions.empty() %}
            <td>
                <label class="c-input c-checkbox">
                    <input type="checkbox" name="{{ row.table.options.prefix }}id[]" value="{{ row.entry.id }}"/>
                    <span class="c-indicator"></span>
                </label>
            </td>
        {% endif %}

        {% for column in row.columns %}
            <td class="{{ column.class }}" {{ column.attributes }}>
                {{ column.value|raw }}
            </td>
        {% endfor %}

        <td class="text-lg-right">
            <nobr>{{ buttons(row.buttons)|raw }}</nobr>
        </td>

    </tr>
{% endfor %}
</tbody>
