{% if not table.filters.empty() %}

    <form method="get" id="filters" class="form-inline">
        <input type="hidden" name="{{ table.options.prefix }}view" value="{{ table.views.active().getSlug() }}">

        {% for filter in table.filters %}
            <div class="form-group">
                {{ filter.input|raw }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">
            {{ icon('fa fa-filter') }}
            {{ trans('streams::button.filter') }}
        </button>
        <a href="{{ url_current() }}" class="btn btn-default">{{ trans('streams::button.clear') }}</a>
    </form>

{% endif %}
