{% if not table.filters.empty() %}
    <div class="ui basic segment filters">
        <form class="ui form" method="get">
            <input type="hidden" name="{{ table.options.prefix }}view" value="{{ table.views.active().getSlug() }}">

            <div class="fields">
                {% for filter in table.filters %}
                    <div class="field four column">
                        {{ filter.input|raw }}
                    </div>
                {% endfor %}

                <div class="field four column">
                    <button type="submit" class="ui button green">
                        {{ icon('filter icon') }}
                        {{ trans('streams::button.filter') }}
                    </button>
                    <a href="{{ url_current() }}" class="ui basic button">{{ trans('streams::button.clear') }}</a>
                </div>
            </div>
        </form>
    </div>
{% endif %}
