{% if not table.views.empty() %}
    <nav id="views">
        <ul class="nav nav-pills">
            {% for view in table.views %}
                <li class="nav-item">
                    <a class="{{ view.class }} nav-link {{ view.isActive() ? 'active' }}" {{ html_attributes(view.attributes) }}>
                        {{ view.icon ? icon(view.icon)|raw }}
                        {{ trans(view.getText()) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
