{% if not table.views.empty() %}
    <nav id="views" class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% for view in table.views %}
                <li class="{{ view.isActive() ? 'active' }}">
                    <a class="{{ view.class }}" {{ html_attributes(view.attributes) }}>
                        {{ view.icon ? icon(view.icon)|raw }}
                        {{ trans(view.getText()) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
