{% for button in buttons %}
    <div class="btn-group">

        {# Render normal buttons. #}
        {% if button.dropdown is empty %}

            {# Render normal buttons as an anchor #}
            {% if not button.attributes.name %}
                <a class="btn btn-{{ button.size }} btn-{{ button.type }}" {{ html_attributes(button.attributes) }}>
                    {{ button.icon ? icon(button.icon) }}
                    {{ trans(button.text) }}
                </a>
            {% endif %}

            {# Render normal buttons as a button #}
            {% if button.attributes.name %}
                <button class="btn btn-{{ button.size }} btn-{{ button.type }}" {{ html_attributes(button.attributes) }}>
                    {{ button.icon ? icon(button.icon) }}
                    {{ trans(button.text) }}
                </button>
            {% endif %}

        {% endif %}


        {# Render dropdown type buttons. #}
        {% if button.dropdown %}

            {# Render dropdown toggles as an anchor #}
            <a class="btn btn-{{ button.size }} btn-{{ button.type }} dropdown-toggle"
               data-toggle="dropdown" {{ html_attributes(button.attributes) }}>
                {{ button.icon ? icon(button.icon) }}
                {{ trans(button.text) }}
            </a>

            {# Render the actual dropdown links #}
            {% for link in button.dropdown %}
                <ul class="dropdown-menu">
                    <li>

                        {# Render normal buttons as an anchor #}
                        {% if not link.attributes.name %}
                            <a {{ html_attributes(link.attributes) }}>
                                {{ link.icon ? icon(link.icon) }}
                                {{ trans(link.text) }}
                            </a>
                        {% endif %}

                        {# Render normal buttons as a button #}
                        {% if link.attributes.name %}
                            <button {{ html_attributes(link.attributes) }}>
                                {{ link.icon ? icon(link.icon) }}
                                {{ trans(link.text) }}
                            </button>
                        {% endif %}
                        
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

    </div>
{% endfor %}
