{% if form.options.title %}
    <div class="{{ form.options.panel_class }}">
        <div class="{{ form.options.panel_heading_class }}">
            <h4 class="{{ form.options.panel_title_class }}">
                {{ trans(form.options.title)|raw }}

                {% if form.options.description %}
                    <small class="clearfix">
                        {{ trans(form.options.description)|raw }}
                    </small>
                {% endif %}
            </h4>
        </div>

    </div>
{% endif %}
