<div class="card" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="card-label card-label-{{ section.context ?: 'info' }}">
            {{ trans(section.title) }}
        </div>
    {% endif %}

    <div class="card-block">
        {% for section in form.sections %}
            {% for row in section.rows %}
                <div class="field-group">
                    <div class="row">
                        {% for column in row.columns %}
                            <div class="col-md-{{ column.size }} {{ column.class }}">
                                {% for field in form.fields.translations(column.field) %}
                                    {{ field.render | raw }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
   </div>

    {% if section.title or section.context %}
        <div class="card-corner card-corner-{{ section.context ?: 'info' }}"></div>
    {% endif %}

</div>




