<div class="{{ section.class ?: form.options.panel_class }}" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="{{ form.options.panel_heading_class }}">
            <h2 class="{{ form.options.panel_title_class }}">
                {{ trans(section.title) }}

                {% if section.description %}
                    <small class="clearfix">
                        {{ trans(section.description)|raw }}
                    </small>
                {% endif %}
            </h2>
        </div>
    {% endif %}

    <div class="{{ form.options.panel_body_class }}">
        {% for field in section.fields %}
            {% for field in form.fields.translations(field) %}
                {{ field.render|raw }}
            {% endfor %}
        {% endfor %}
    </div>

</div>
