<div class="card" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="card-label card-label-{{ section.context ?: 'info' }}">
            {{ trans(section.title) }}
        </div>
    {% endif %}

    <div class="card-block">
        {% for field in section.fields %}
            <div class="field-group">
                {% for field in form.fields.translations(field) %}
                    {{ field.render|raw }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {% if section.title or section.context %}
        <div class="card-corner card-corner-{{ section.context ?: 'info' }}"></div>
    {% endif %}

</div>
