<div class="card" {{ html_attributes(section.attributes) }}>

    {% if section.title %}
        <div class="card-header">
            <h2 class="card-title">
                {{ trans(section.title)|raw }}

                {% if section.description %}
                    <small>
                        <br>{{ trans(section.description)|raw }}
                    </small>
                {% endif %}
            </h2>
        </div>
    {% endif %}

    <ul class="nav nav-sections">
        {% spaceless %}
            {% for slug, tab in section.tabs %}
                <li class="nav-item" style="width: {{ 100/section.tabs|length }}%;">
                    <a href="#tab-{{ slug }}" data-toggle="tab" class="nav-link {{ loop.first ? 'active' }}">
                        {{ trans(tab.title) }}
                    </a>
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>

    <div class="card-block">
        {% for slug, tab in section.tabs %}
            <div class="tab-pane {{ loop.first ? 'active' }}" id="tab-{{ slug }}">
                {% if tab.fields is empty %}
                    <div class="form-group">
                        {{ trans("streams::message.no_fields_available") }}
                    </div>
                {% else %}
                    {% for field in tab.fields %}
                        {% for field in form.fields.translations(field) %}
                            {{ field.render({'form': form})|raw }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>
