<div
        {{ field_type.locale ? 'lang=' ~ field_type.locale }}
        class="form-group {{ field_type.slug }}-field-type {{ field_type.hidden ? 'hidden' }}"
        data-field="{{ field_type.field }}">

    <label class="control-label">
        {{ trans(field_type.object.label)|raw }}

        {% if field_type.required %}
            <span class="required">*</span>
        {% endif %}

        {% if field_type.locale %}
            <span class="label label-mini label-default">
                {{ trans('streams::locale.' ~ field_type.locale ~ '.name') }}
            </span>
        {% endif %}
    </label>

    {% if field_type.instructions %}
        <p class="help-block">{{ trans(field_type.instructions)|raw }}</p>
    {% endif %}

    {{ field_type.input|raw }}

</div>
