<div
        {{ field_type.locale ? 'lang=' ~ field_type.locale }}
        class="form-group {{ field_type.hidden ? 'hidden' }} {{ field_type.slug }}-field-type"
        data-field="{{ field_type.field }}">

    <label>
        {{ trans(field_type.label)|raw }}

        {% if field_type.required %}
            <span class="required">*</span>
        {% endif %}

        {% if field_type.locale %}
            <span class="label label-mini label-default">
                {{ config_get('streams.enabled_locales.' ~ field_type.locale) }}
            </span>
        {% endif %}
    </label>

    {% if field_type.instructions %}
        <p class="help-block">{{ trans(field_type.instructions)|raw }}</p>
    {% endif %}

    {{ field_type.renderInput()|raw }}

</div>
