<!-- Table Body -->
<tbody>
{% for entry in entries %}
    <tr class="{{ row.class }}">

        <td>
            <i class="fa fa-reorder" style="cursor: move;"></i>
        </td>

        <td>
            <input type="hidden" name="{{ options.prefix }}order[]" value="{{ entry.id }}"/>
            <input type="checkbox" name="{{ options.prefix }}id[]" value="{{ entry.id }}"/>
        </td>

        {% for column in columns %}
            <td class="{{ column.class }}" {{ column.attributes }}>
                {{ table_column_value(table, column, entry)|raw }}
            </td>
        {% endfor %}

        <td class="text-right">
            {% for button in buttons %}
                <div class="btn-group">
                    <a class="btn btn-{{ button.type }} btn-sm">
                        {% if button.icon %}<i class="fa fa-{{ button.icon }}"></i>{% endif %}
                        {{ trans(button.text) }}
                    </a>
                    {% if button.dropdown %}
                        <a class="btn btn-{{ button.type }} btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        {% for link in button.dropdown %}
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ link.url }}">
                                        {% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% endif %}
                                        {{ trans(link.text) }}
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</tbody>
