<!-- Table Body -->
<tbody>
{% for entry in table.entries %}
    <tr>

        {% if table.options.sortable %}
            <td>
                <i class="fa fa-reorder handle" style="cursor: move;"></i>
                <input type="hidden" name="{{ table.options.prefix }}order[]" value="{{ entry.id }}"/>
            </td>
        {% endif %}

        {% if not table.actions.emtpy() %}
            <td>
                <input type="checkbox" name="{{ options.prefix }}id[]" value="{{ entry.id }}"/>
            </td>
        {% endif %}

        {% for column in table.columns %}
            <td class="{{ column.class }}" {{ column.attributes }}>
                {{ table_column(table, column, entry)|raw }}
            </td>
        {% endfor %}

        <td class="text-right">
            {{ buttons(table.buttons)|raw }}
        </td>
    </tr>
{% endfor %}
</tbody>
