{% if not table.filters.empty() %}

    <div class="table-filters {{ not table.filters.active().isEmpty() ? 'active' }}">
        <form class="ui form" method="get">
            <input type="hidden" name="{{ table.options.prefix }}view" value="{{ table.views.active().getSlug() }}">

            <div class="fields">
                {% for filter in table.filters %}
                    <div class="field four column">
                        {{ filter.input|raw }}
                    </div>
                {% endfor %}

                <button type="submit" class="ui button green">{{ trans('streams::button.filter') }}</button>
                <a href="{{ url_current() }}" class="ui button">{{ trans('streams::button.clear') }}</a>
            </div>
        </form>
    </div>

{% endif %}
