<div class="table-filters {{ filtering ? 'active' }}">
    <form class="form-inline" method="get">
        <input type="hidden" name="{{ options.prefix }}view" value="{{ options.activeView }}">

        {% for filter in filters %}
            <div class="form-group">
                {{ filter.input|raw }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Filter</button>
        <a href="{{ url() }}" class="btn btn-link">Clear</a>
    </form>
</div>
