{% for button in buttons %}

    {# Render normal buttons. #}
    {% if button.dropdown is empty %}

        {# Render normal buttons as an anchor #}
        {% if not button.attributes.name %}
            <a class="btn btn-{{ button.size }} btn-{{ button.type }} {{ button.disabled ? 'disabled' }} {{ button.class }}" {{ html_attributes(button.attributes) }}>
                {{ button.icon ? icon(button.icon)|raw }}
                {{ trans(button.text) }}
            </a>
        {% endif %}

        {# Render normal buttons as a button #}
        {% if button.attributes.name %}
            <button class="btn btn-{{ button.size }} btn-{{ button.type }} {{ button.disabled ? 'disabled' }} {{ button.class }}" {{ html_attributes(button.attributes) }}>
                {{ button.icon ? icon(button.icon)|raw }}
                {{ trans(button.text) }}
            </button>
        {% endif %}

    {% endif %}


    {# Render dropdown type buttons. #}
    {% if button.dropdown %}
        <div class="btn-group">

            {# Render dropdown toggles as an anchor #}
            <a class="dropdown-toggle btn btn-{{ button.size }} btn-{{ button.type }} {{ button.disabled ? 'disabled' }} {{ button.class }}"
               data-toggle="dropdown" {{ html_attributes(button.attributes) }}>
                {{ button.icon ? icon(button.icon)|raw }}
                {{ trans(button.text) }}
            </a>

            {# Render the actual dropdown links #}
            <ul class="dropdown-menu pull-right">
                {% for link in button.dropdown %}
                    <li>

                        {# Render normal buttons as an anchor #}
                        {% if not link.attributes.name %}
                            <a {{ html_attributes(link.attributes) }}>
                                {{ link.icon ? icon(link.icon)|raw }}
                                {{ trans(link.text) }}
                            </a>
                        {% endif %}

                        {# Render normal buttons as a button #}
                        {% if link.attributes.name %}
                            <button {{ html_attributes(link.attributes) }}>
                                {{ link.icon ? icon(link.icon)|raw }}
                                {{ trans(link.text) }}
                            </button>
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endfor %}
