{{ asset_add("scripts.js", "streams::js/form/ajax.js") }}
{{ asset_add("scripts.js", "streams::js/form/form.js") }}
{{ asset_add("scripts.js", "streams::js/form/translations.js") }}

{% block content %}

    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>

        <h4 class="modal-title">
            {{ form.options.modal_title|raw }}
        </h4>
    </div>

    {{ form_open({'class': 'form', 'url': url_full()}) }}

    <div class="modal-body">

        {% include "streams::form/partials/translations" %}
        {% include "streams::form/partials/heading" %}
        {% include "streams::form/ajax/layout" %}

    </div>

    {% include "streams::form/ajax/footer" %}

    {{ form_close() }}

{% endblock %}
