{% if not actions.empty() %}
    {{ asset_add("scripts.js", "streams::js/table/actions.js") }}
{% endif %}

{% if table.options.sortable %}
    {{ asset_add("scripts.js", "streams::js/table/sortable.js") }}
{% endif %}

<div class="container-fluid">

    {% include "streams::table/partials/views" %}
    {% include "streams::table/partials/filters" %}

    {% if not table.rows.empty() %}
        <div class="panel panel-table">

            {% include "streams::table/partials/heading" %}

            {{ form_open({ 'url': url_full() }) }}
            <table
                    class="{{ table.options.class ?: 'table striped' }}"
                    {{ table.options.sortable ? 'data-sortable' }}
                    {{ html_attributes(table.options.attributes) }}>

                {% include "streams::table/partials/header" %}

                {% block body %}
                    {% include "streams::table/partials/body" %}
                {% endblock %}

                {% include "streams::table/partials/footer" %}

            </table>
            {{ form_close() }}

        </div>
    {% else %}
        <div class="panel">
            <div class="panel-body">
                {{ trans(table.options.get('no_results_message', 'streams::message.no_results')) }}
            </div>
        </div>
    {% endif %}

</div>
