{% macro tree(items, tree) %}
    {% for item in items %}
        <li data-id="{{ item.id }}">
            <div class="panel">

                {% if tree.options.get('sortable', true) %}
                    {{ icon('bars', 'handle btn btn-xs') }}
                {% endif %}

                {% for segment in item.segments %}
                    {% if segment.value %}
                        <span class="{{ segment.class }}" {{ html_attributes(segment.attributes) }}>
                        {{ segment.value|raw }}
                    </span>
                    {% endif %}
                {% endfor %}

                <div class="buttons">
                    {{ buttons(item.buttons) }}
                </div>

            </div>

            <ul>
                {{ _self.tree(tree.items.children(item), tree) }}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}
