{% macro tree(items, tree) %}
    {% for item in items %}
        <li data-id="{{ item.id }}">
            <div class="panel">

                {{ icon('bars', 'handle btn btn-xs') }}

                {{ item.value }}

                <div class="buttons">
                    {{ buttons(item.buttons) }}
                </div>

            </div>

            <ul>
                {{ _self.tree(tree.items.children(item), tree) }}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}
