{{ asset_add("scripts.js", "streams::js/form/form.js") }}

{% block content %}

    <div class="ui segment basic" style="margin-top: 0;">
        {{ form_open({'class': 'ui form'}) }}

        {{ form_toolbar(form)|raw }}
        {{ form_layout(form)|raw }}
        {{ form_controls(form)|raw }}

        {{ form_close() }}
    </div>

{% endblock %}
